*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    margin-top: 20px;
    width: 800px;
    max-width: 100%;
}
/* 1fr แบ่งให้เท่ากัน */
.containers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 8px;
    img{
        width: 600px;
        max-width: 100%;
    }
}

@media screen and (max-width: 760px){
    .containers{
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media screen and (max-width: 500px){
    .containers{
        margin: auto;
        grid-template-columns: repeat(1,1fr);
        img{
            width: 100%;
            max-width: 100%;
        }
        
    }
    
}